{% extends 'base.html' %}
{% block start %}
{% load static %}

<div class="allstafftable">
  <h2 class='text-center'>All Staff List</h2>
  {% if messages %}
  <div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
  <div class="mx-auto col-6">
    <form>
      <div class="input-group mb-3">
        <input name="search" class="form-control" placeholder="Search Employee Name" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        {% comment %} //TODO - add a button to redirect to add employee page {% endcomment %}
      </div>
    </form>
  </div>
  <table class="table table-dark table-striped table-bordered table-hover">
    <thead class="text-center">
      <tr style="font-size: 15px;">
        <th scope="col">Sl. No</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider text-center">
      {% for staff in all_staff_data %}
      <tr style="font-size: 14px;">
        <th scope="row">{{forloop.counter}}</th>
        <td>{{staff.user}}</td>
        <td>{{staff.first_name}}</td>
        <td>{{staff.last_name}}</td>
        <td>{{staff.email}}</td>
        <td>{{staff.phone_number}}</td>
        <td>
          <a href="{% url 'update_staff' staff.id %}" class="btn btn-success">Update</a>
          <a href="{% url 'remove_staff' staff.id %}" class="btn btn-danger" data-bs-toggle='modal'
            data-bs-target="#remove_staff{{staff.id}}">Remove</a>

          <div class="modal" tabindex="-1" id="remove_staff{{staff.id}}" aria-labelledby="mymodelLabel2"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content  text-bg-dark">
                <div class="modal-header">
                  <h3 class="modal-title">
                    Staff Name : {{staff.first_name}} {{staff.last_name}}
                  </h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are You sure you want to delete this staff?</p>
                </div>
                <div class="modal-footer">
                  <form action="{% url 'remove_staff' staff.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Yes, Remove">
                  </form>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </td>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}