{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/pulssencode.ico' %}">
        <title>{{ page_title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"
            rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
            <div class="container-fluid">
                {% if user.is_superuser %}
                <a class="navbar-brand" href="{% url 'manager_dashboard' %}">The Groverzmart</a>
                {% endif %}
                {% if not user.is_superuser %}
                
                <a class="navbar-brand" href="{% url 'profile_staff' %}">The Groverzmart</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
                    aria-labelledby="offcanvasNavbar2Label">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'manager_dashboard' %}">Admin Dashboard</a>
                            </li>
                            {% endif %}
                            {% if not user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile_staff' %}">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'view_tasks' %}">All Tasks</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'organizational_dashboard' %}">Organisational Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'leads' %}">Lead Collection</a>
                            </li>
                        </ul>
                        <div class="flex-shrink-0 dropdown mt-1">
                            <a href="#" class="d-flex align-items-center mt-1 link-body-emphasis text-decoration-none dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                <h6 class="text-white me-3 ms-2">{{ user.username }}</h6>
                            </a>
                            <ul class="dropdown-menu text-small shadow ">
                                <li class="text-center"><a href="{% url 'logout_all' %}" class="btn btn-outline-danger ">Logout</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% block start %}

    {% endblock %}
</body>
</html>